<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="header::head">
    <title>Movie details</title>
</head>
<body>

<div th:replace="header::header"></div>

<h1 style="text-align: center;" th:text="${movie.title}"> </h1>
<div>
    <ul class="moviedetailsul">
        <li th:text="${movie.length} + minuten"></li>
        <li th:text="${movie.age}"></li>
        <!--<li th:text="${movie.is3D}"></li>-->
        <li th:text="${movie.language}"></li>
        <!--<li th:text="${movie.subs}"></li>-->
    </ul>
    <h1>Voorstellingen:</h1>
    <ul class="moviedetailsul" th:each="viewing : ${viewings}">
        <a th:href="@{'/ticketview/' + ${viewing.id}}"><li th:text="${viewing.startTime}"></li></a>
    </ul>


    <div>
        <ul th:each="viewing : ${viewings}">
            <li th:text="${viewing.startTime}"></li>
        </ul>


    </div>

    <div class="moviedetailsimg">
        <img th:src="${movie.image}" width="25%" />
    </div>
</div>
</body>
</html>