<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="header::head">
    <title>Overview</title>
</head>
<body>

<div th:replace="header::header"></div>

<div class="wrapper">
    <h1>Viewings</h1>

    <form action="#" th:action="@{/}" th:object="${searchobject}" method="post">
        <p>Zoek: <input type="text" th:field="*{search}" /></p>
        <p><input type="submit" value="Zoek" /></p>
    </form>

    <div class="viewingtiles">
    <table th:if="${viewings}">
        <tr th:each="viewing : ${viewings}">
            <td>
                    <h3 style="text-align: center" th:text="${viewing.movie.title}"></h3>
                    <img th:src="${viewing.movie.image}"/>

                <ul>

                    <li th:text="${viewing.movie.length}  +  minuten"></li>
                    <li th:text="${viewing.movie.age}"></li>
                    <li th:text="${viewing.movie.language}"></li>
                    <li></li>
                    <li><a th:href="@{'/movie/details/' + ${viewing.movie.id}}">details</a></li>
                </ul>
            </td>
        </tr>
    </table>
    </div>

    <!--<ul th:each="viewing : ${viewings}">-->
        <!--<li th:text="${viewing.movie.title}"></li>-->
    <!--</ul>-->

</div>

</body>
</html>