<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="header::head">
    <title>Overview</title>
</head>
<body>

<div th:replace="header::header"></div>

<div class="wrapper">
    <div class="searchbar">
            <form action="#" th:action="@{/}" th:object="${searchobject}" method="post">
                <p>Zoek: <input type="text" th:field="*{search}" /><input type="submit" value="Zoek" /></p>
            </form>
    </div>
    <h1>Viewings</h1>

    <div class="viewingtiles">
        <table th:if="${viewings}">
            <tr th:each="viewing : ${viewings}">
                <td class="tdviewing">
                    <h3 style="text-align: center" th:text="${viewing.movie.title}"></h3>
                    <img th:src="${viewing.movie.image}"/>


                    <ul class="overviewul">

                        <li class="overviewli" th:text="${viewing.movie.length}  +  minuten"></li>
                        <li class="overviewli" th:text="${viewing.movie.age}"></li>
                        <li class="overviewli" th:text="${viewing.movie.language}"></li>
                        <li></li>
                        <li class="overviewli"><a th:href="@{'/movie/details/' + ${viewing.movie.id}}">details</a></li>
                    </ul>
                </td>
            </tr>
        </table>
    </div>

    <!--<ul th:each="viewing : ${viewings}">-->
    <!--<li th:text="${viewing.movie.title}"></li>-->
    <!--</ul>-->

</div>

</body>
</html>