<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="header::head">
    <title>Tickets</title>
</head>
<body>

<div th:replace="header::header"></div>

<div>
    <h1>Kies uw Tickets</h1>

    <table th:if="${ticketTypes}">
        <thead>
            <tr>
                <td>Ticket Type</td>
                <td>Prijs p.p.</td>
                <td>Aantal</td>
            </tr>
        </thead>
        <form action="#" th:action="@{/ticketview/chairselection}" method="post">
            <tbody th:each="ticketType: ${ticketTypes}">
                <tr>
                    <td th:text="${ticketType.name}"></td>
                    <td th:text="${ticketType.price}"></td>
                    <td><input type="number" th:name="${ticketType.name}"/></td>
                </tr>
            </tbody>
            <input type="submit" value="Selecteer zitplaatsen"/>
        </form>
    </table>


</div>

</body>
</html>