body, html {
    background-color: #f5f5f5;
    width: 100%;
}

customheader {
    background-color: #fec828;
}

h1 {
    text-align: center;
}

/**overview**/

viewingtiles, table{
    width: 100%;
    align-content: center;
    margin-left: 10%;
    margin-right: 10%;
}

viewingtiles, tr {
    background-color: #fff;
    width: 25%;
    border: 1px solid #e5e3e3;
    display: inline-block;
    vertical-align: top;
    margin: 10px;
}

viewingtiles, .tdviewing, img {
    display: inline;
    width: 50%;
    margin-bottom: 10px;
    margin-left: 10px;
}


viewingtiles, .overviewul {
    list-style-type: none;
    text-align: center;
    display: table-caption;
}

viewingtiles, .overviewli {
    margin-top: 10px;
    margin-bottom: 10px;
}

/**header**/
.navbar {
    background-color: #f5c828 !important;
}

.navbar, h1 {
    color: black;
}

.searchbar {
    margin-left: 800px;
}

/**seatselection**/

.seatselection {
    text-align: center;
}

.seatselectiontable {
    display: block;
    margin: 0px auto;
}

.tablerowseat {
    margin-left: 20px;
}

.seat {
    width: 50px;
    height: 50px;
    background-color: green;
    display: inherit;
}

.checked {
    background-color: blue;
}

.seat.input {
    display: block;
}


.seat.tbody {
    display: block;
}

/**ticketview **/
.tickettablerow {
    border: 1px solid black;
}

.tickettable {
    width: 39.5%;
    border-right: 1px solid black;
}


/**moviedetails**/
.moviedetailsimg {
    float: left;
    margin-top: -260px;
}

.moviedetailsul {
    list-style-type: none;
    text-align: center;
}

.moviedetailstimesul {
    list-style-type: none;
    text-align: center;
}